
<button style="margin-left: 120px;margin-top: 50px;" mat-raised-button color="primary" (click)="onSubmit(1)">List of Investors</button>
<button style="margin-left: 50px;background-color: #008000;margin-top: 50px;" mat-raised-button color="primary" (click)="onSubmit(2)">Add Investors</button>


<button style="margin-left: 50px;margin-top: 50px;" mat-raised-button color="primary" (click)="onSubmit(3)">List of Transactions</button>
<button style="margin-left: 50px;background-color: #008000;margin-top: 50px;" mat-raised-button color="primary" (click)="onSubmit(4)">Add Transactions</button>

<button style="margin-left: 50px;;margin-top: 50px;" mat-raised-button color="warn" (click)="onSubmit(5)">Delete Transactions</button>

<app-investors *ngIf="listAction"></app-investors>
<app-listtransactions *ngIf="listTransactions"></app-listtransactions>
<app-addinvestor *ngIf="addIAction"></app-addinvestor>
<app-addtransaction *ngIf="addTAction"></app-addtransaction>
<app-deletetransaction *ngIf="deleteTAction"></app-deletetransaction>